<section class="thirteen columns">
    <h1>Achievements & Leadership</h1>
    <article>
        <header>
            <h1>Sports</h1>
            <span><p>School captain for netball, volleyball, and badminton</p><time>2010 to 2018</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Arts</h1>
            <span><p>Multiple awards in all-island art competitions and drama contests </p><time>2006 to 2019</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Leadership</h1>
            <span><p>School Prefect , Western Band Leader</p><time>2015 to 2016</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Community</h1>
            <span><p>Active member of school health, art, media and sports societies</p><time>2006 to 2019</time></span>
        </header>
    </article>
</section>