<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Art History, Practical Technical Skills, and Health & Physical Studies teacher</h1>
            <span><address>St. John's College, Colombo 09, Sri Lanka</address><time>2018 to 2023</time></span>
        </header>
        <p>fostered empathy, effective communication,
            and a sense of humor in order to provide a safe,
            stimulating, and joyful learning environment for kids.
        </p>
        <p>
            Supported special education workshops, promoting creativity among children with special needs.
        </p>
    </article>
    <article>
        <header>
            <h1>Care Assistant(Part-Time)</h1>
            <span><address>Divine Gate, Sri Lanka</address><time>Since April 2021</time></span>
        </header>
        <p>Gained great experience in Healthcare sector</p>

    </article>
    <article>
        <header>
            <h1>Trainee Caregiver</h1>
            <span><address>Kings Hospital , Colombo , Sri Lanka</address><time>in 2023</time></span>
        </header>
        <p>Gained experience in Kidney Transplant ICU,
           Medical Ward, Maternity Ward, Respiratory Care Unit.
        </p>
    </article>
</section>
