<section class="thirteen columns">
    <h1>Skills</h1>
    <article>
        <header>
            <h1>Languages</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>English</em>, &amp; <em>Sinhala</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Technical</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Microsoft Office Suite</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Soft Skills</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Leadership</em>,<em>Time Management</em>,<em>Teamwork</em>, &amp; <em>Communication</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Others</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Medication Management</em>,<em>Child Development</em>, &amp; <em>Event Coordination</em>
        </p>
    </article>
</section>